body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
  height: 100vh;
  background-color: aquamarine;
  background-image: url("/brown-wooden-surface-218535.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Courier Prime", monospace !important;
}

.Signup label {
  font-family: "Courier Prime", monospace;
  font-size: 2em;
}
.Signup input {
  border-bottom: 2px solid white !important;
  background-color: transparent;
  border: none;
  margin-bottom: 20px;
  color: white;
}
.Signup label {
  color: white;
  font-size: 2em;
}
